body {
    background-color: #f5f5f5;
}

.card {
    background-color: #222;
    color: #fff;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}